<div class="package-card">
    <div class="title">Debiut</div>
    <div class="package-card-body">
        <div class="description">
            <ul>
                <li>10 strzałów z canika</li>
                <li>15 strzałów z kałacha</li>
            </ul>
        </div>
        <div class="additional-info">
            * Cena za pakiet dla grup 2-5 osób to 125.00 zł
        </div>
        <div class="time-price-group">
            <div class="time">Czas trwania: 30 minut</div>
            <div class="price">Cena: 150.00 zł</div>
        </div>
    </div>
</div>

<div style="background-color: #1C1C1C; width: 100px; height: 100px;">tŁO GŁÓWNE</div>
<div style="background-color: #8B0000; width: 100px; height: 100px;">TŁO GŁÓWNE</div>
<div style="background-color: #B22222; width: 100px; height: 100px;">NAGŁÓWKI</div>
<div style="background-color: #D32F2F; width: 100px; height: 100px;">pRZYCISKI cTA AKCJI</div>
<div style="background-color: #FF6659; width: 100px; height: 100px;"> HOVER</div>
<div style="background-color: #2E2E2E; width: 100px; height: 100px;">FORMULARZE TLO</div>
<div style="background-color: #B71C1C; width: 100px; height: 100px;">FORMULARZE OBRAMOWANIE</div>
<div style="background-color: #FFFF; width: 100px; height: 100px;">TEKST</div>
<div style="background-color: #3A3A3A; width: 100px; height: 100px;">TLO NAWIGACJI</div>
<div style="background-color: #C62828; width: 100px; height: 100px;">AKTYWNY LINK</div>
<div style="background-color: #AAAAAA; width: 100px; height: 100px;">NIEAKTYWNY LINK</div>